<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
  <div id="app">

    <input type="text" v-model="firstname"> +
    <input type="text" v-model="lastname"> =
    <input type="text" v-model="fullname">

  </div>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: '',
        fullname: ''
      },
      methods: {},
      watch: { // 侦听属性，可以监视data中数据的变化，然后触发对应的函数
        'firstname': function (newVal, oldVal) {
          this.fullname = newVal + '-' + this.lastname
        },
        'lastname': function (newVal) {
          this.fullname = this.firstname + '-' + newVal
        }
      }
    });

    /*
    上面代码是重复的，改用computed会好很多

    computed和watch的差异：
    1 computed 是计算一个新的属性，并将该属性挂载到 vm（Vue 实例）上，而 watch 是监听已经存在且已挂载到 vm 上的数据，
      所以用 watch 同样可以监听 computed 计算属性的变化（其它还有 data、props）
    2 computed 本质是一个惰性求值的观察者，具有缓存性，只有当依赖变化后，第一次访问  computed  属性，才会计算新的值，
      而 watch 则是当数据发生变化便会调用执行函数
    */
    
  </script>
</body>

</html>